.bold {
	font-weight: bold;
}
.uppercase {
	text-transform: uppercase;
}
.sisulõik {
	font-size: 20px;
	line-height: 1.5;
}
.font {
	font-family: Arial;
}
h1 {
	font-size: 40px;
}
h2 {
	font-size: 30px;
}

.kassid {
	max-width: 33%;
	min-width: 33%;
}
.keskele {
	margin-left: 175px;
	margin-right: 175px;
}

.värv {
	color: #F0785E;
}

.centered {
	text-align: center;
}

.banner{
	width: 100%;
	display: block;
}

.banner > .banner-image{
	width: 100%;
	display: block;
}


/* tabi kujundus */
.tab {
    overflow: hidden;
    background-color: #f1f1f1;
}

/* tabi sisu avamise nuppude kujundus */
.tab button {
    background-color: #F0785E;
    color: black;
    padding: 6px 20px;
	text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    width: 33%;
    color: white;
}

/* nuppude taustavärv hoverimisel */
.tab button:hover {
    background-color: #EF684C;
}

/* aktiivse tablinki klassi loomine */
.tab button.active {
    background-color: #EE5B3D;
}

/* tabi sisu kujundus */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}