h1 {
	font-size: 40px;
}
h2 {
	font-size: 30px;
}
p {
	font-size: 22px;
	text-align: justify;
}
ul {
	padding: 20px;
	font-size: 24px;
	text-align: left;
}
body, html {
  height: 100%;
  margin: 0;
  font-family: Century Gothic;
}

.bold {
	font-weight: bold;
}
.kassid {
	width: 300px;
	height: 400px;
}
.pilt {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 600px;
	max-width: 600px;
	padding: 20px;
}
.pilt_keskele {
	margin-left: 20%;
	margin-right: 20%;
}
.sisu {
	margin-left: 15%;
	margin-right: 15%;
	color: #white;
	line-height: 1.5;
}
.center {
	text-align: center;
}

.banner{
	width: 100%;
	display: block;
}
.banner > .banner-image{
	width: 100%;
	display: block;
	cursor: pointer;
}

.tablink {
  background-color: #F0785E;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 21px;
  width: 33.333%;
  font-family: Century Gothic;
}
.tablink:hover {
  background-color: #FF886F;
}
.tabcontent {
  color: white;
  display: none;
  padding: 80px;
  min-height: 100%;
}
#Esileht {background-color: #EE5B3D;}
#Kubo {background-color: #EE5B3D;}
#Sebastian {background-color: #EE5B3D;}
#Sofia {background-color: #EE5B3D;}