.bold {
	font-weight: bold;
}
.uppercase {
	text-transform: uppercase;
}
.sisulõik {
	font-size: 18px;
}
.font {
	font-family: Century Gothic;
}
h1 {
	font-size: 40px;
}
h2 {
	font-size: 30px;
}

.kassid {
	max-width: 33%;
	min-width: 33%;
}
.keskele {
	margin-left: 100px;
	margin-right: 100px;
}

.banner{
	width: 100%;
	display: block;
}

.banner > .banner-image{
	width: 100%;
	display: block;
}

.button {
	background-color: white;
    border-radius: 12px;
    color: black;
    padding: 6px 20px;
	text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    width: 33%;
}